<!--================Home Gallery Area =================-->
<section class="home_gallery_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Featured Projects & Work</h2>
            <p>MERN Stack Applications & Enterprise Solutions</p>
        </div>
        <div class="isotope_fillter">
            <ul class="gallery_filter list">
                <li class="active" data-filter="*"><a href="#">All Projects</a></li>
                <li data-filter=".brand"><a href="#">Darden</a></li>
                <li data-filter=".manipul"><a href="#">House Eazy</a></li>
                <li data-filter=".creative"><a href="#">Ashray Homes</a></li>
                <li data-filter=".design"><a href="#">CuddlyNest</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="gallery_f_inner row imageGallery1">
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="img/gallery/cn1.png" alt="">
                        <a class="light" href="img/gallery/cn1.png"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>Darden - MERN Stack Application</h4>
                        <p>Data-driven application with OpenAI API integration for automated content generation</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul creative">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="img/gallery/JK2.png" alt="">
                        <a class="light" href="img/gallery/JK2.png"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>House Eazy - Real Estate Platform</h4>
                        <p>High-performance platform using Next.js for public site and secure internal system</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 manipul creative design print">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="img/gallery/TC2.png" alt="">
                        <a class="light" href="img/gallery/TC2.png"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>Ashray Homes - Mobile-First Design</h4>
                        <p>Responsive real estate interface using React and Tailwind CSS with 100% design fidelity</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand creative print">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="img/gallery/cn2.png" alt="">
                        <a class="light" href="img/gallery/cn2.png"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>CuddlyNest - Travel Platform</h4>
                        <p>Interactive travel landing page with dynamic destination search and real-time filtering</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="img/gallery/TC1.png" alt="">
                        <a class="light" href="img/gallery/TC1.png"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>Pre-Payment Development</h4>
                        <p>Tata Capital Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand creative">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="img/gallery/cn7.png" alt="">
                        <a class="light" href="img/gallery/cn7.png"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>Map Design</h4>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand creative">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="img/gallery/cn6.png" alt="">
                        <a class="light" href="img/gallery/cn6.png"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>Accomodation Design</h4>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand creative">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="img/gallery/JK1.png" alt="">
                        <a class="light" href="img/gallery/JK1.png"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>3D Logo Design</h4>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--================End Home Gallery Area =================-->